<section id="contact" class="contact">
        <div class="container">
            <h2>Connect</h2>
            <div class="contact-content">
                <p>Ready to collaborate on the next breakthrough? Whether it's groundbreaking technology, innovative solutions, or world-changing projects, let's build the future together.</p>
                <div class="contact-info">
                    <div class="contact-item">
                        <h3>Email</h3>
                        <a href="mailto:thedeepakpv10@gmail.com">thedeepakpv10@gmail.com</a>
                    </div>
                    <div class="contact-item">
                        <h3>LinkedIn</h3>
                        <a href="https://www.linkedin.com/in/deepak-pv-519681298">/in/deepak-pv</a>
                    </div>
                    <div class="contact-item">
                        <h3>Location</h3>
                        <p>Kannur,Kerala</p>
                    </div>
                </div>
            </div>
        </div>
    </section>