<section id="home" class="hero">
        <div class="hero-content">
            <h1>DEEPAK P V</h1>
            <p> Code • Muscle • Meaning</p>
            <a href="#projects" class="cta-button">View Innovation</a>
        </div>
    </section>